Source: ros-kinetic-hiqp-ros
Section: misc
Priority: extra
Maintainer: Marcus A Johansson <marcus.adam.johansson@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-controller-interface, ros-kinetic-hiqp-core, ros-kinetic-hiqp-msgs, ros-kinetic-orocos-kdl, ros-kinetic-roscpp, ros-kinetic-visualization-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-hiqp-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-controller-interface, ros-kinetic-hiqp-core, ros-kinetic-hiqp-msgs, ros-kinetic-orocos-kdl, ros-kinetic-roscpp, ros-kinetic-visualization-msgs
Description: The HiQP_Controllers package
